.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.shoplink{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    border: 2px solid black;
}
.shoplink:hover{
    background-color: #000;
    color: #fff;
}
.shoplink{
    text-decoration: none;
    font-size: 1.5rem;
}
.shoplink:visited{
    color: black;
}
.shoplink:visited:hover{
    color: #fff;
}
